<h1>Segmentations</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @segmentations.each do |segmentation| %>
        <tr>
          <td><%= segmentation.name %></td>
          <td><%= link_to 'Edit', edit_segmentation_path(segmentation), class: "btn btn-default btn-sm" %></td>
          <td><%= link_to 'Destroy', segmentation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Segmentation', new_segmentation_path, {class: "btn btn-success"} %>
