<h1>New Segmentation</h1>

<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-12">
        <%= render 'form', segmentation: @segmentation do%>
            <%= submit_tag 'Add conditions', class: "btn btn-success" %>
        <% end %>
    </div>
</div>