<h1>"<%= @segmentation_clause.segmentation_name %>" Clauses</h1>

<%= render 'form', 
    segmentation_clause: @segmentation_clause, 
    filters: @filters,
    form_method: 'post' do %>
    <%= submit_tag 'Save', class: "btn btn-success" %>
<% end %>

<%= render 'list', segmentation_other_clauses: @segmentation_other_clauses %>