/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 */
 
@import "bootstrap";

.table-responsive {
    padding: 1%
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

#wrapper {
  padding-left: 70px;
  transition: all .4s ease 0s;
  height: 100%;
}

#sidebar-wrapper {
  margin-left: -150px;
  left: 70px;
  width: 150px;
  background: #222;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .4s ease 0s;
}

.sidebar-nav {
  display: block;
  float: left;
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#page-content-wrapper {
  padding: 1%;
  margin-left: 0;
  width: 100%;
  height: auto;
  width: 100%;
}

#wrapper.active {
  padding-left: 150px;
  #sidebar-wrapper {
    left: 150px;
  }
}

#sidebar_menu li a, .sidebar-nav li a {
  color: #999;
  display: block;
  float: left;
  text-decoration: none;
  width: 150px;
  background: #252525;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #1A1A1A;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s;
}

.sidebar_name {
  padding-top: 25px;
  color: #fff;
  opacity: .7;
}

.sidebar-nav {
  li {
    line-height: 40px;
    text-indent: 20px;
    a {
      color: #999999;
      display: block;
      text-decoration: none;
      &:hover {
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
        text-decoration: none;
      }
      &:active, &:focus {
        text-decoration: none;
      }
    }
  }
  > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
    a {
      color: #999999;
      &:hover {
        color: #fff;
        background: none;
      }
    }
  }
}

#main_icon {
  float: right;
  padding-right: 65px;
  padding-top: 20px;
}

.sub_icon {
  float: right;
  padding-right: 65px;
  padding-top: 10px;
}

.content-header {
  height: 65px;
  line-height: 65px;
  h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
  }
}

@media (max-width: 767px) {
  #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
  }
  #sidebar-wrapper {
    left: 70px;
  }
  #wrapper.active {
    padding-left: 150px;
    #sidebar-wrapper {
      left: 150px;
      width: 150px;
      transition: all .4s ease 0s;
    }
  }
}